*{
    margin: 0;
    padding: 0;
    width: 100%;
   
}  
.container-fluid{
    padding: 0;
}
.image{
    width:100px ;
    margin-left: 30px;
     
}
.anchor-1,.anchor-2,.anchor-3,.anchor-4,.anchor-5,.anchor-6, .anchor-7{
    text-decoration: none;
    color: black;
}  
.anchor-1{
    margin-left: 20px;
}
.button{
    display: flex;
    margin-top:10px ;
    list-style: none;
    font-family: sans-serif;
    gap: 30px;
   
}

.heading-22{
    display: flex;
    justify-content: end;
}
.bi{
    margin-top: 12px;
    
}   
.bii{
    margin-top:12px ;
    margin-left: 20px;
}
.btn-1{
    color:red ;
    margin-top:10px ;
    font-weight: 500;
}
.bgrmg{
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-image: url(crm-banner.jpg);
    background-attachment: fixed;
}
.heading-22{
    text-align: end;
    
}
.search{
    background:none ;
    margin-left: 50px;
    margin-top: 6px;
}
.globe{
    margin-top:6px ;
}
.image-1{
    width: 100px;
    margin-left: 70px;
    margin-top: 20px;
}
.to-ad{
    display: flex;
}

.dropdown-1{
    background-color: none;
}