

.image{
    width:100px ;
    
     
}
.anchor-1,.anchor-2,.anchor-3,.anchor-4,.anchor-5,.anchor-6, .anchor-7{
    text-decoration: none;
    color: black;
}  
.anchor-1{
    margin-left: 20px;
}
.button{
    display: flex;
    margin-top:10px ;
    list-style: none;
    font-family: sans-serif;
    gap: 30px;
   align-items: center;
}

.heading-22{
    display: flex;
    justify-content: end;
}
.bi{
    margin-top: 12px;
    
}   
.bii{
    margin-top:12px ;
    margin-left: 20px;
}
.btn-1{
    color:red ;
    margin-top:10px ;
    font-weight: 500;
}
.bgr-image{
    background-image: url(crm-banner.jpg);
    
    background-attachment: fixed;
    background-size: cover;
}

.search{
    background:none ;
    margin-left: 50px;
    margin-top: 6px;
}
.globe{
    margin-top:6px
}

.second-nav{
    justify-content: end;
}

.dropdown-1{
    background-color: transparent;
}
img{
    width: 100px;
}